.Display,
.Key,
.CalculatorContainer,
.quote-container {
  display: flex;
  align-items: center;
}

.Key,
.quote-container {
  flex-direction: column;
  justify-content: center;
}

.App {
  background-color: #2f3640;
  font-size: calc(5px + 2vmin);
}

.App,
.CalculatorContainer,
.quote-container {
  min-height: 100vh;
}

.CalculatorContainer {
  margin: 0 10% 0 10%;
  justify-content: space-between;
}

.Calculator {
  width: 450px;
  font-weight: bold;
}

.Display,
.Key {
  min-height: 65px;
}

.Display {
  background-color: #858694;
  color: white;
  justify-content: flex-end;
  padding-right: 5px;
  font-size: calc(8px + 2vmin);
}

.Keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Key {
  color: #1f294b;
  background-color: #e0e0e0;
  border: #c0c0c0 solid 1px;
}

.Key:focus,
.Key:hover {
  cursor: pointer;
  filter: brightness(0.85);
}

.bg-orange {
  background-color: #f5913e !important;
}

.big-zero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}

.math-quote,
.quote {
  max-width: 60%;
  color: #f5f6fa;
}

.math-quote {
  margin-top: -48vh;
}

.navBar {
  position: relative;
}

