.main,
.display,
.cell {
  display: flex;
  align-items: center;
}

.main,
.cell {
  flex-direction: column;
  justify-content: center;
}

.main {
  background-color: #2f3640;
  min-height: 100vh;
  font-size: calc(5px + 2vmin);
}

.calculator {
  width: 450px;
  font-weight: bold;
}

.display,
.cell {
  min-height: 65px;
}

.display {
  background-color: #858694;
  color: white;
  justify-content: flex-end;
  padding-right: 5px;
  font-size: calc(8px + 2vmin);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cell {
  color: #1f294b;
  background-color: #e0e0e0;
  border: #c0c0c0 solid 1px;
}

.cell:focus,
.cell:hover {
  cursor: pointer;
}

.bg-orange {
  background-color: #f5913e !important;
}

.big-zero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}
